<% if @service.data_sets.any? %>
  <% if @service.active_data_set %>
    <% if @service.source_of_data.present? %>
      <h3>Source of data</h3>
      <%= simple_format @service.source_of_data %>
    <% end %>

    <%= render @service.active_data_set %>
  <% end %>

  <!-- <%# if @service.data_sets.last.version > @service.active_data_set_version %>
    <h3>Latest uploaded version: <%#= @service.data_sets.last.version %> containing <%#= pluralize(@service.data_sets.last.places.count, 'place', 'places') %>.</h3>
    <%#= render @service.data_sets.last %>
  <%# end %> -->
<% else %>
  <p>No data sets have been uploaded yet. <a href="#new-data">Add one now.</a></p>
<% end %>
