<% if @service.data_sets.any? %>
  <% if @service.active_data_set %>
    <% if @service.source_of_data.present? %>
      <h2>Source of data</h2>
      <div class="source-of-data">
        <%= simple_format @service.source_of_data %>
      </div>
    <% end %>
    <%= render @service.active_data_set %>
  <% end %>
<% else %>
  <p>No data sets have been uploaded yet. <a href="#new-data">Add one now.</a></p>
<% end %>
