<table class="imminence">
  <thead class="visuallyhidden">
    <tr>
      <th scope="col">Service Title</th>
      <th scope="col">Review</th>
      <th scope="col">Upload</th>
    </tr>
  </thead>
  <tbody>
    <%= render :collection => @services, :partial => 'service', :locals => {:tab => :drafts} %>
  </tbody>
</table>

<div class="format-controls">
  <%= button_to 'Add new service', new_admin_service_path, :method=>:get, :class => 'service' %>
</div>

<% content_for :page_title, "Services List" %>
