<% content_for :page_title, "Services List" %>

<div class="page-header">
  <h1>
    All Services
  </h1>
</div>

<div class="format-controls">
  <%= button_to 'Add new service', new_admin_service_path, :method=>:get, :class => 'service btn btn-primary activate' %>
</div>

<table class="add-top-margin table table-striped table-bordered" summary="Full list of available services">
  <thead>
    <tr class="table-header">
      <th scope="col">Service Title</th>
      <th scope="col">Review</th>
      <th scope="col">Upload</th>
    </tr>
  </thead>
  <tbody>
    <%= render :collection => @services, :partial => 'service', :locals => {:tab => :drafts} %>
  </tbody>
</table>
