.bundle
!.bundle/config
db/*.sqlite3
log/*.log
tmp/
coverage
test/reports
features/reports
spec/reports/pacts

# Ignore asset build dirs
/app/assets/builds/*
!/app/assets/builds/.keep
public/assets/*
