<p class="lead normal">The CSV file must:</p>
<ul class="lead normal">
  <li>include row headers</li>
  <li>use headers matching the specified format – ie “address1”, not “Address 1”</li>
  <li>provide at minimum a postcode for identifying locations</li>
</ul>
<p class="lead normal">
These columns will be imported (any others will be ignored):
</p>
<blockquote>
  <strong>name</strong> | <strong>source_address</strong> | <strong>address1</strong> | <strong>address2</strong> | <strong>town</strong> | <strong>postcode</strong> | <strong>access_notes</strong> | <strong>general_notes</strong> | <strong>url</strong> | <strong>email</strong> | <strong>phone</strong> | <strong>fax</strong> | <strong>text_phone</strong> | <strong>gss</strong> | <strong>lng</strong> | <strong>lat</strong>
</blockquote>
<p class="lead normal">
Use <strong>lng</strong> and <strong>lat</strong> to override the location for a place instead of using the postcode's location.
</p>
