<h4>Status</h4>
<p>
  <%= dataset.places.needs_geocoding.count %> places left to geocode.
  <%= dataset.places.with_geocoding_errors.count %> places with geocode errors.

  <% if service.uses_local_authority_lookup? %>
    <%= dataset.places.missing_gss_codes.count %> places with missing GSS codes.
  <% end %>
</p>
